.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.even-row.enabled  {
  background: #d3f5ac;
}

.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.odd-row.enabled {
  background: #e5f9d0;
}

.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.even-row.archived  {
  background: #fcdebd;
}

.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.odd-row.archived {
  background: #ffeedb;
}

.sql-task-archive-message {
  font-style: italic;
}

.sql-task-move-arrow {
  cursor: pointer;
  display: inline-block;
  margin: 0;
}

.sql-task-move-arrow img {
  height: 15px;
  width: 10px;
  padding: 5px;
  margin: 0;
  display: block;
}

.sql-task-table-column-category {
  word-wrap: break-word;
  max-width: 120px;
}

.sql-task-table-column-name {
  word-wrap: break-word;
  max-width: 380px;
}

.sql-task-table-column-description {
  word-wrap: break-word;
  max-width: 420px;
}

.sql-task-table-column-last-executed {
  word-wrap: break-word;
  max-width: 130px;
}

.sql-task-table-column-last-moving-arrows {
  word-wrap: break-word;
  max-width: 90px;
}
