
table.sqltask-mytask-list {
}

tr.sqltask-mytask {
  font-size: large;
}

td.sqltask-mytask-name {

}

td.sqltask-mytask-runtime {

}

td.sqltask-mytask-run {

}

.sqltask-mytask-busy {
    display: none;
}

tr.sqltask-mytask.loading .sqltask-mytask-busy {
    display: block;
}

tr.sqltask-mytask.loading .sqltask-mytask-runtime {
    display: none;
}

td.sqltask-mytask-downloads {

}
