#add-action-btn {
  margin-left: 3%;
}

#select-add-action {
  display: flex;
  align-items: center;
}

.header-delete-btn {
  position: relative;
  cursor: pointer !important;
  margin-left: auto;
  padding: 5px;
  border: 1px solid rgba(120, 120, 120, 0);
  z-index: 50;
}

.header-delete-btn:hover {
  border-color: rgba(120, 120, 120, 1);
}

.relativePosition {
  position: relative;
}

.accordion-header-custom::before,
.accordion-header-custom::after {
  content: "";
  display: block;
  clear: both;
}

.content.sql-task-entity-ref-wrap input.sql-task-entity-ref-element {
  display: block !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: none !important;
}

select.pixelInput {
  display: block !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: none !important;
}

.input-checkbox {
  cursor: pointer !important;
}

.action-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.action-label:after {
  display: none;
}

.sql-task-preloader-wrap {
  display: none;
}

.sql-task-preloader-wrap .crm-container {
  position: relative;
  height: 100px;
}

.sql-task-preloader-message {
  text-align: center;
  padding: 10px 0;
}

.sql-tasks-actions-block.loading .sql-tasks-actions-wrap, .sql-tasks-execution-block.loading .sql-tasks-execution-wrap {
  display: none;
}

.sql-tasks-actions-block.loading .sql-task-preloader-wrap, .sql-tasks-execution-block.loading .sql-task-preloader-wrap {
  display: block;
}

.crm-container .sql-tasks .sql-tasks-actions-wrap .crm-section #select-add-action > select,
.crm-container .sql-tasks .sql-tasks-basic-information-block .crm-section .content > input#name,
.crm-container .sql-tasks .sql-tasks-execution-wrap .crm-section .content > div#select2-container,
.crm-container .sql-tasks .sql-tasks-execution-wrap .crm-section .content > select#scheduled,
.crm-container .sql-tasks .sql-tasks-basic-information-block .crm-section .content > input#category,
.crm-container .sql-tasks .sql-tasks-basic-information-block .crm-section .content > textarea#description {
  width: 100%;
  box-sizing: border-box;
  height: 28px;
  max-width: 500px;
}

.crm-container .sql-tasks .sql-tasks-actions-wrap .crm-section #select-add-action > select,
.crm-container .sql-tasks .sql-tasks-basic-information-block .crm-section .content > input#category,
.crm-container .sql-tasks .sql-tasks-execution-wrap .crm-section .content > div#select2-container {
  max-width: 300px;
}

.crm-container .sql-tasks .sql-tasks-basic-information-block .crm-section .content > textarea#description {
  height: auto;
}

.sql-task-action-title {
  padding-left: 5px;
  margin-bottom: 5px;
}

.sql-task-action-title::before {
  content: ' | ';
}

.sql-task-action-addition-info-edit-form-wrap {
  display: none;
}

.sql-task-action-addition-info-panel {
  position: relative;
  padding: 1px;
}

.sql-task-action-addition-info-panel-btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 25px;
  display: block;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.5s;
  background: transparent;
  border-radius: 3px;
  color: #575757;
  opacity: 0;
}

.sql-task-action-addition-info-panel-btn.open-edit-form {
  opacity: 1;
}

.sql-task-action-addition-info-panel-btn:hover {
  color: black;
}

.sql-task-action-addition-info-wrap .sql-task-action-addition-info-panel-btn i {
  display: block;
  line-height: 25px;
}

.sql-task-action-addition-info-wrap .help  pre {
  background: none;
  border: none;
}

.sql-task-action-addition-info-edit-form-wrap {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.sql-tasks-actions-wrap .crm-accordion-body:hover  .sql-task-action-addition-info-panel-btn {
  opacity: 1;
}

.sql-task-target-highlight-place {
  border: dotted 5px #c9c9c9;
  height: 50px;
}
