.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.even-row.enabled  {
  background: #d3f5ac;
}

.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.odd-row.enabled {
  background: #e5f9d0;
}

.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.even-row.archived  {
  background: #fcdebd;
}

.page-civicrm-a.page-civicrm-a table:not(.form-layout-compressed) .tasks-table tr.odd-row.archived {
  background: #ffeedb;
}

.sql-task-archive-message {
  font-style: italic;
}

.sql-task-move-arrow {
  cursor: pointer;
  display: inline-block;
  margin: 0;
}

.sql-task-move-arrow img {
  height: 15px;
  width: 10px;
  padding: 2px;
  margin: 0;
  display: block;
}

.sql-task-table-column-category {
  word-wrap: break-word;
  max-width: 120px;
}

.sql-task-table-column-name {
  word-wrap: break-word;
  max-width: 380px;
}

.sql-task-table-column-description {
  word-wrap: break-word;
  max-width: 420px;
}

.sql-task-table-column-last-executed {
  word-wrap: break-word;
  max-width: 130px;
}

.sql-task-move-arrow-wrap {
  word-wrap: break-word;
  max-width: 120px;
}

.sql-task-preference-item {
  display: inline-block;
  padding: 10px 15px 10px 10px;
}

.sql-task-preference-item:first-child {
  display: inline-block;
  padding-left: 0;
}

.sql-task-preference-item-label {
  display: inline-block;
  vertical-align: middle;
  padding-right: 2px;
}

.sql-task-preference-item-input {
  display: inline-block;
  vertical-align: middle;
}

.sql-task-preference-item-label-text {
  display: inline-block;
  vertical-align: middle;
}

.sql-task-preference-item-color {
  background: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.sql-task-preference-item-color.archived {
  background: #fcdebd;
}

.sql-task-preference-item-color.enabled {
  background: #d3f5ac;
}

.sql-task-preference-item-color.disabled {
  background: #EFEFEF;
}

.sql-task-info-display-counter {
  padding: 10px;
  display: inline-block;
}

.sql-task-info-panel {
  padding: 10px;
}

.sql-task-manager-preloader {
  position: relative;
  height: 100px;
}

.sql-task-manager-preloader-message {
  padding: 10px;
  color: black;
}

.sql-task-manager-target-highlight-place {
  border: solid 4px #ffe59b !important;
  height: 130px;
}

.sql-task-manager-new-task-panel div.content {
  padding: 20px;
  padding-top: 10px;
}

.sql-task-manager-new-task-panel div.content p {
  margin: 0px;
  margin-bottom: 15px;
}

.sql-task-manager-new-task-panel div.content select {
  min-width: 300px;
}
