<div class="crm-accordion-wrapper crm-sqltask-api relativePosition collapsed">
    <div class="crm-accordion-header active accordion-header-custom action-label">
        <label class="input-checkbox">
            <input style="cursor: pointer;" ng-model="ctrl.model['enabled']" ng-true-value="'1'" ng-false-value="'0'" type="checkbox">
            &nbsp;
            {{ts('API Call')}}
        </label>
        <span ng-if="ctrl.model['action_title']" class="sql-task-action-title">{{ctrl.model['action_title']}}</span>
        <label class="header-delete-btn" ng-click="removeItemFromArray(ctrl.index)">
            <i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}
        </label>
    </div>
    <div class="crm-accordion-body" style="display: none;">
        <div class="sql-tasks">
            <action-additional-info model='ctrl.model' fieldPrefix="'api_call'" index='ctrl.index'></action-additional-info>

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                    model="ctrl.model['table']" fieldlabel="ts('Data Table')" fieldid="'api_table' + ctrl.index"
                    sizelength="60" inputMaxWidth="'500px'"
                    showHelpIcon=true
                    helpaction='onInfoPress("Data Source", "id-api-data", "CRM\/Sqltasks\/Action\/APICall")'>
            </text-input>

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                    model="ctrl.model['entity']" fieldlabel="ts('Entity')" fieldid="'api_entity' + ctrl.index"
                    showHelpIcon=true inputMaxWidth="'300px'"
                    helpaction='onInfoPress("Entity", "id-api-entity", "CRM\/Sqltasks\/Action\/APICall")'>
            </text-input>

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                    model="ctrl.model['action']" fieldlabel="ts('Action')" fieldid="'api_action' + ctrl.index"
                    showHelpIcon=true inputMaxWidth="'300px'"
                    helpaction='onInfoPress("Action", "id-api-action", "CRM\/Sqltasks\/Action\/APICall")'>
            </text-input>

			<ordinary-select2 isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
							  showHelpIcon=true inputMaxWidth="'300px'"
							  model="ctrl.model['handle_api_errors']" fieldlabel="ts('Error Handling')"
							  fieldid="'handle_api_errors' + ctrl.index" optionsArray="handleApiErrorsData"
							  isdataloaded="isDataLoaded('handle_api_errors_index_' + ctrl.index)"
							  helpaction='onInfoPress("Error Handling", "id-handle-api-errors", "CRM\/Sqltasks\/Action\/APICall")'>
			</ordinary-select2>

            <text-area isrequired="getBooleanFromNumber(ctrl.model['parameters'])" model="ctrl.model['parameters']"
                       fieldlabel="ts('Parameters')" fieldid="'api_call_parameters' + ctrl.index" rowsnumber='8' inputMaxWidth="'500px'"
                       helpaction='onInfoPress("Columns", "id-api-parameters", "CRM\/Sqltasks\/Action\/APICall")'
                       showHelpIcon=true>
            </text-area>
        </div>
    </div>
</div>
