<div class="crm-accordion-wrapper crm-sqltask-api relativePosition collapsed">
        <label class="input-checkbox"><input ng-model="ctrl.model['enabled']" type="checkbox" id="api_enabled">&nbsp;API
                Call</label>
        <div class="crm-accordion-header active accordion-header-custom">
                <a ng-click="removeItemFromArray(ctrl.index)" class="header-delete-btn" href="javascript:;"><i
                                class="crm-i fa-trash header-delete"></i> {{ts('Delete')}}</a>
        </div>
        <div class="crm-accordion-body" style="display: none; background-color: #fff">
                <div class="sql-tasks">
                        <div class="crm-section">
                                <div class="label"><label for="api_table">Data Table&nbsp;<span class="crm-marker"
                                                        ng-if="ctrl.model['enabled']"
                                                        title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>&nbsp;<a
                                                onclick='CRM.help("Data Source", {"id":"id-api-data","file":"CRM\/Sqltasks\/Action\/APICall"}); return false;'
                                                href="javascript:;" title="Help" class="helpicon">&nbsp;</a>
                                </div>
                                <div class="content"><input ng-required="ctrl.model['enabled']"
                                                style="font-family: monospace, monospace !important" name="api_table"
                                                type="text" id="api_table" class="crm-form-text"
                                                ng-model="ctrl.model['api_table']"></div>
                                <div class="clear"></div>
                        </div>

                        <div class="crm-section">
                                <div class="label"><label for="api_entity">Entity&nbsp;<span class="crm-marker"
                                                        ng-if="ctrl.model['enabled']"
                                                        title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>&nbsp;<a
                                                href="javascript:;"
                                                onclick='CRM.help("Entity", {"id":"id-api-entity","file":"CRM\/Sqltasks\/Action\/APICall"}); return false;'
                                                title="Help" class="helpicon">&nbsp;</a></div>
                                <div class="content"><input ng-required="ctrl.model['enabled']"
                                                style="font-family: monospace, monospace !important" name="api_entity"
                                                type="text" id="api_entity" class="crm-form-text"
                                                ng-model="ctrl.model[' api_entity']">
                                </div>
                                <div class="clear"></div>
                        </div>

                        <div class="crm-section">
                                <div class="label"><label for="api_action">Action&nbsp;<span class="crm-marker"
                                                        ng-if="ctrl.model['enabled']"
                                                        title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>&nbsp;<a
                                                href="javascript:;"
                                                onclick='CRM.help("Action", {"id":"id-api-action","file":"CRM\/Sqltasks\/Action\/APICall"}); return false;'
                                                title="Help" class="helpicon">&nbsp;</a></div>
                                <div class="content"><input ng-required="ctrl.model['enabled']"
                                                style="font-family: monospace, monospace !important" name="api_action"
                                                type="text" id="api_action" class="crm-form-text"
                                                ng-model="ctrl.model['api_action']"></div>
                                <div class="clear"></div>
                        </div>

                        <div class="crm-section">
                                <div class="label"><label for="api_parameters">Parameters</label>&nbsp;<a
                                                href="javascript:;"
                                                onclick='CRM.help("Columns", {"id":"id-api-parameters","file":"CRM\/Sqltasks\/Action\/APICall"}); return false;''
                                                        title="Help" class="helpicon">&nbsp;</a></div>
                                        <div class="content"><textarea rows="8" cols="40"
                                                        style="font-family: monospace, monospace !important"
                                                        name="api_parameters" id="api_parameters"
                                                        class="crm-form-textarea" ng-model="ctrl.model['
                                                api_parameters']"></textarea></div>
                                <div class="clear"></div>
                        </div>
                </div>
        </div>
</div>