<div class="crm-accordion-wrapper crm-sqltask-activity collapsed relativePosition"><label class="input-checkbox"><input
            ng-model="ctrl.model['enabled']"  type="checkbox"
            id="activity_enabled">&nbsp;Create Activity</label>
    <div class="crm-accordion-header active accordion-header-custom"><a ng-click="removeItemFromArray(ctrl.index)"
            class="header-delete-btn" href="javascript:;"><i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}</a></div>
    <div class="crm-accordion-body" style="display: none; background-color: #fff">
        <div class="sql-tasks">
            <div class="crm-section">
                <div class="label"><label for="activity_contact_table">Contact Table&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span>
                        (<code>contact_id</code>)</label>
                </div>
                <div class="content"><input style="font-family: monospace, monospace !important"
                        name="activity_contact_table" type="text" id="activity_contact_table" class="crm-form-text"
                        ng-model="ctrl.model['activity_contact_table']" ng-required="ctrl.model['enabled']">
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_use_api">Use API (slow)</label></div>
                <div class="content"><input id="activity_use_api" name="activity_use_api" type="checkbox" value="1"
                        class="crm-form-checkbox" ng-model="ctrl.model['activity_use_api']"></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_individual">Individual Activities</label></div>
                <div class="content"><input id="activity_individual" name="activity_individual" type="checkbox"
                        value="1" class="crm-form-checkbox" ng-model="ctrl.model['activity_individual']"></div>
                <div class="clear"></div>
            </div>

            <hr>

            <div class="spacer"></div>

            <div class="crm-section">
                <div class="label"><label for="activity_activity_type_id">Activity Type&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>
                </div>
                <div class="content">
                    <select ng-model="ctrl.model['activity_activity_type_id']" name="activity_activity_type_id"
                        ng-required="ctrl.model['enabled']" id="activity_activity_type_id" title="Activity Type">
                        <option value="">- none -</option>
                        <option value="1">Meeting</option>
                        <option value="2">Phone Call</option>
                        <option value="3">Email</option>
                        <option value="4">Outbound SMS</option>
                        <option value="5">Event Registration</option>
                        <option value="6">Contribution</option>
                        <option value="7">Membership Signup</option>
                        <option value="8">Membership Renewal</option>
                        <option value="9">Tell a Friend</option>
                        <option value="10">Pledge Acknowledgment</option>
                        <option value="11">Pledge Reminder</option>
                        <option value="12">Inbound Email</option>
                        <option value="13">Open Case</option>
                        <option value="14">Follow up</option>
                        <option value="15">Change Case Type</option>
                        <option value="16">Change Case Status</option>
                        <option value="53">Change Case Subject</option>
                        <option value="33">Change Custom Data</option>
                        <option value="17">Membership Renewal Reminder</option>
                        <option value="18">Change Case Start Date</option>
                        <option value="19">Bulk Email</option>
                        <option value="20">Assign Case Role</option>
                        <option value="21">Remove Case Role</option>
                        <option value="22">Print/Merge Document</option>
                        <option value="23">Merge Case</option>
                        <option value="24">Reassigned Case</option>
                        <option value="25">Link Cases</option>
                        <option value="26">Change Case Tags</option>
                        <option value="27">Add Client To Case</option>
                        <option value="28">Survey</option>
                        <option value="29">Canvass</option>
                        <option value="30">PhoneBank</option>
                        <option value="31">WalkList</option>
                        <option value="32">Petition Signature</option>
                        <option value="34">Mass SMS</option>
                        <option value="35">Change Membership Status</option>
                        <option value="36">Change Membership Type</option>
                        <option value="37">Cancel Recurring Contribution</option>
                        <option value="38">Update Recurring Contribution Billing Details</option>
                        <option value="39">Update Recurring Contribution</option>
                        <option value="40">Reminder Sent</option>
                        <option value="41">Export Accounting Batch</option>
                        <option value="42">Create Batch</option>
                        <option value="43">Edit Batch</option>
                        <option value="44">SMS delivery</option>
                        <option value="45">Inbound SMS</option>
                        <option value="46">Payment</option>
                        <option value="47">Refund</option>
                        <option value="48">Change Registration</option>
                        <option value="49">Downloaded Invoice</option>
                        <option value="50">Emailed Invoice</option>
                        <option value="51">Contact Merged</option>
                        <option value="52">Contact Deleted by Merge</option>
                        <option value="54">Failed Payment</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_status_id">Status&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>
                </div>
                <div class="content"><select ng-model="ctrl.model['activity_status_id']" name="activity_status_id"
                        id="activity_status_id" class="crm-form-select" ng-required="ctrl.model['enabled']">
                        <option value="">- none -</option>
                        <option value="1">Scheduled</option>
                        <option value="2">Completed</option>
                        <option value="3">Cancelled</option>
                        <option value="4">Left Message</option>
                        <option value="5">Unreachable</option>
                        <option value="6">Not Required</option>
                        <option value="7">Available</option>
                        <option value="8">No-show</option>
                    </select></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_subject">Subject&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>&nbsp;<a
                        onclick='CRM.help("Tokens", {"id":"id-activity-tokens","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content"><input class="huge crm-form-text" ng-model="ctrl.model['activity_subject']"
                        style="font-family: monospace, monospace !important" name="activity_subject" type="text"
                        id="activity_subject" ng-required="ctrl.model['enabled']"></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_details">Details</label>&nbsp;<a
                        onclick='CRM.help("Tokens", {"id":"id-activity-tokens","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content"><textarea rows="4" cols="60" style="font-family: monospace, monospace !important"
                        name="activity_details" id="activity_details" class="crm-form-textarea"
                        ng-model="ctrl.model['activity_details']"></textarea>
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_activity_date_time">Timestamp</label>&nbsp;<a
                        onclick='CRM.help("Timestamp Options", {"id":"id-activity-datetime","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content"><input style="font-family: monospace, monospace !important"
                        name="activity_activity_date_time" type="text" id="activity_activity_date_time"
                        class="crm-form-text" ng-model="ctrl.model['activity_activity_date_time']">
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_campaign_id">Campaign</label></div>
                <div class="content">
                    <select name="activity_campaign_id" id="activity_campaign_id" title="Campaign"
                        ng-model="ctrl.model['activity_campaign_id']">
                        <option value="">- none -</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_source_contact_id">Source Contact&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>
                </div>
                <div class="content">
                    <input class="crm-form-entityref crm-contact-ref crm-ajax-select" placeholder="- none -"
                        data-select-params="[]" data-api-params="" data-api-entity="contact"
                        name="activity_source_contact_id" type="text" value="" id="activity_source_contact_id"
                        tabindex="-1" title="Source Contact" ng-model="ctrl.model['activity_source_contact_id']"
                        ng-required="ctrl.model['enabled']">
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_assigned_to">Assigned To</label>&nbsp;<a
                        onclick='CRM.help("Assignees", {"id":"id-activity-assignees","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content">
                    <div class="select2-container select2-container-multi crm-form-entityref crm-contact-ref crm-ajax-select"
                        id="s2id_activity_assigned_to" style="width: 337.127px;">
                        <ul class="select2-choices">
                            <li class="select2-search-field"> <label for="s2id_autogen11"
                                    class="select2-offscreen">Assigned To</label> <input type="text" autocomplete="off"
                                    autocorrect="off" autocapitalize="off" spellcheck="false"
                                    class="select2-input select2-default" id="s2id_autogen11" style="width: 337.127px;"
                                    placeholder=""> </li>
                        </ul>
                        <div class="select2-drop select2-drop-multi select2-display-none crm-container">
                            <ul class="select2-results">
                                <li class="select2-no-results">None found.<div class="crm-entityref-filters"><select
                                            ng-model="ctrl.model['s2id_activity_assigned_to']"
                                            class="crm-entityref-filter-key">
                                            <option value="">Refine search...</option>
                                            <option value="contact_type">Contact Type</option>
                                            <option value="group">Group</option>
                                            <option value="tag">Tag</option>
                                            <option value="state_province">State/Province</option>
                                            <option value="country">Country</option>
                                            <option value="gender_id">Gender</option>
                                            <option value="is_deceased">Deceased</option>
                                            <option value="contact_id">Contact ID</option>
                                            <option value="external_identifier">External ID</option>
                                            <option value="source">Contact Source</option>
                                        </select></div>
                                </li>
                            </ul>
                        </div>
                    </div><input class="crm-form-entityref crm-contact-ref crm-ajax-select" placeholder="- none -"
                        data-select-params='{"multiple":true}' data-api-params="" data-api-entity="contact"
                        name="activity_assigned_to" type="text" value="" id="activity_assigned_to" tabindex="-1"
                        style="display: none;">
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_source_record_id">Source Record ID</label> <a
                        onclick='CRM.help("Tokens", {"id":"id-activity-tokens","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content"><input style="font-family: monospace, monospace !important"
                        name="activity_source_record_id" type="text" id="activity_source_record_id"
                        class="crm-form-text" ng-model="ctrl.model['activity_source_record_id']">
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_medium_id">Activity Medium</label></div>
                <div class="content"><select name="activity_medium_id" id="activity_medium_id"
                        ng-model="ctrl.model['activity_medium_id']" class="crm-form-select">
                        <option value="">- none -</option>
                        <option value="1">In Person</option>
                        <option value="2">Phone</option>
                        <option value="3">Email</option>
                        <option value="4">Fax</option>
                        <option value="5">Letter Mail</option>
                    </select></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_engagement_level">Engagement Index</label></div>
                <div class="content"><select name="activity_engagement_level" id="activity_engagement_level"
                        class="crm-form-select" ng-model="ctrl.model['activity_engagement_level']">
                        <option value="">- none -</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_location">Location</label> <a
                        onclick='CRM.help("Tokens", {"id":"id-activity-tokens","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content"><input ng-model="ctrl.model['activity_location']"
                        style="font-family: monospace, monospace !important" name="activity_location" type="text"
                        id="activity_location" class="crm-form-text"></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_duration">Duration</label> <a
                        onclick='CRM.help("Tokens", {"id":"id-activity-tokens","file":"CRM\/Sqltasks\/Action\/CreateActivity"}); return false;'
                        href="javascript:;" title="Help" class="helpicon">&nbsp;</a></div>
                <div class="content"><input ng-model="ctrl.model['activity_duration']"
                        style="font-family: monospace, monospace !important" name="activity_duration" type="text"
                        id="activity_duration" class="crm-form-text"> <span class="description">minutes</span></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="activity_priority_id">Priority</label></div>
                <div class="content"><select name="activity_priority_id" id="activity_priority_id"
                        ng-model="ctrl.model['activity_priority_id']" class="crm-form-select">
                        <option value="">- none -</option>
                        <option value="1">Urgent</option>
                        <option value="2">Normal</option>
                        <option value="3">Low</option>
                    </select></div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>