<div class="crm-accordion-wrapper crm-sqltask-activity collapsed relativePosition"><label class="input-checkbox"><input
            ng-model="ctrl.model['enabled']" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"
            id="activity_enabled">&nbsp;{{ts('Create Activity')}}</label>
    <div class="crm-accordion-header active accordion-header-custom"><a ng-click="removeItemFromArray(ctrl.index)"
            class="header-delete-btn" href="javascript:;"><i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}</a></div>
    <div class="crm-accordion-body" style="display: none; background-color: #fff">
        <div class="sql-tasks">

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_contact_table']" fieldlabel="ts('Contact Table (contact_id)')"
                fieldid="'activity_contact_table'"></text-input>

            <check-box model="ctrl.model['activity_use_api']" fieldlabel="ts('Use API (slow)')"
                fieldid="'activity_use_api'"></check-box>

            <check-box model="ctrl.model['activity_individual']" fieldlabel="ts('Individual Activities')"
                fieldid="'activity_individual'"></check-box>

            <hr>

            <div class="spacer"></div>

            <ordinary-select2 isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_activity_type_id']" fieldlabel="ts('Activity Type')"
                fieldid="'activity_activity_type_id_' + ctrl.index" optionsArray="activityTypeData">
            </ordinary-select2>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_status_id']" fieldlabel="ts('Status')" fieldid="'activity_status_id'"
                optionsArray="statusData">
            </ordinary-select>

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['activity_subject']"
                fieldlabel="ts('Subject')" fieldid="'activity_subject'"
                helpaction='onInfoPress("Tokens", "id-activity-tokens", "CRM\/Sqltasks\/Action\/CreateActivity")'
                showHelpIcon=true></text-input>

            <text-area model="ctrl.model['activity_details']" fieldlabel="ts('Details')" fieldid="'activity_details'"
                rowsnumber='4'
                helpaction='onInfoPress("Tokens", "id-activity-tokens", "CRM\/Sqltasks\/Action\/CreateActivity")'
                showHelpIcon=true></text-area>

            <text-input model="ctrl.model['activity_activity_date_time']" fieldlabel="ts('Timestamp')"
                fieldid="'activity_activity_date_time'"
                helpaction='onInfoPress("Timestamp Options", "id-activity-datetime", "CRM\/Sqltasks\/Action\/CreateActivity")'
                showHelpIcon=true></text-input>

            <ordinary-select2 isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_campaign_id']" fieldlabel="ts('Campaign')"
                fieldid="'activity_campaign_id_' + ctrl.index" optionsArray="campaignData">
            </ordinary-select2>

            <select-entityref model="ctrl.model['activity_source_contact_id']" fieldlabel="ts('Source Contact')"
                fieldid="'activity_source_contact_id'"></select-entityref>

            <select-entityref dataparams='{"multiple":true}' model="ctrl.model['s2id_activity_assigned_to']"
                fieldlabel="ts('Assigned To')" fieldid="'s2id_activity_assigned_to'"></select-entityref>

            <text-input model="ctrl.model['activity_source_record_id']" fieldlabel="ts('Source Record ID')"
                fieldid="'activity_source_record_id'"
                helpaction='onInfoPress("Tokens", "id-activity-tokens", "CRM\/Sqltasks\/Action\/CreateActivity")'
                showHelpIcon=true>
            </text-input>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_medium_id']" fieldlabel="ts('Activity Medium')"
                fieldid="'activity_medium_id'" optionsArray="mediumData">
            </ordinary-select>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_engagement_level']" fieldlabel="ts('Engagement Index')"
                fieldid="'activity_engagement_level'" optionsArray="engagementIndexData">
            </ordinary-select>

            <text-input model="ctrl.model['activity_location']" fieldlabel="ts('Location')"
                fieldid="'activity_location'"
                helpaction='onInfoPress("Tokens", "id-activity-tokens", "CRM\/Sqltasks\/Action\/CreateActivity")'
                showHelpIcon=true>
            </text-input>

            <text-input model="ctrl.model['activity_duration']" fieldlabel="ts('Duration')"
                fieldid="'activity_duration'"
                helpaction='onInfoPress("Tokens", "id-activity-tokens", "CRM\/Sqltasks\/Action\/CreateActivity")'
                showHelpIcon=true>
            </text-input>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['activity_priority_id']" fieldlabel="ts('Priority')" fieldid="'activity_priority_id'"
                optionsArray="priorityData">
            </ordinary-select>

        </div>
    </div>
</div>
