<div class="crm-accordion-wrapper crm-sqltask-csv relativePosition collapsed">
    <div class="crm-accordion-header accordion-header-custom active action-label"><label class="input-checkbox"><input
                ng-model="ctrl.model['enabled']" style="cursor: pointer;" ng-true-value="'1'" ng-false-value="'0'"
                type="checkbox" id="csv_enabled">&nbsp;{{ts('CSV
        Export')}}</label><label class="header-delete-btn" ng-click="removeItemFromArray(ctrl.index)"><i
                class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}</label></div>
    <div class="crm-accordion-body" style="display: none; background-color: #fff">
        <div class="sql-tasks">

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['api_parameters']"
                fieldlabel="ts('Export Table')" fieldid="'api_parameters'"></text-input>

            <ordinary-select2 isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['csv_encoding']" fieldlabel="ts('File Encoding')"
                fieldid="'csv_encoding_' + ctrl.index" optionsArray="encodingData">
            </ordinary-select2>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['csv_delimiter']" fieldlabel="ts('Delimiter')" fieldid="csv_delimiter"
                optionsArray="delimiterData">
            </ordinary-select>

            <text-input ng-if="ctrl.model['csv_delimiter'] === 'other'" model="ctrl.model['csv_delimiter_other']"
                fieldlabel="ts('Other delimiter')" fieldid="'csv_delimiter_other'"></text-input>

            <text-area isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['csv_headers']"
                fieldlabel="ts('Columns')"
                helpaction='onInfoPress("Columns", "id-csv-columns", "CRM\/Sqltasks\/Action\/CSVExport")'
                showHelpIcon=true fieldid="'csv_headers'" rowsnumber='8' columnsnumber='40'></text-area>

            <check-box model="ctrl.model['csv_discard_empty']" fieldlabel="ts('Discard empty file?')"
                fieldid="'csv_discard_empty'"></check-box>

            <check-box model="ctrl.model['csv_zip']" fieldlabel="ts('ZIP File')" fieldid="'csv_zip'">
            </check-box>

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['csv_filename']"
                fieldlabel="ts('File Name')" fieldid="'csv_filename'"
                helpaction='onInfoPress("Filename", "id-csv-filename", "CRM\/Sqltasks\/Action\/CSVExport")'
                showHelpIcon=true>
            </text-input>

            <text-input model="ctrl.model['csv_path']" fieldlabel="ts('File Path')" fieldid="'csv_path'"
                helpaction='onInfoPress("Path", "id-csv-path", "CRM\/Sqltasks\/Action\/CSVExport")' showHelpIcon=true>
            </text-input>

            <text-input model="ctrl.model['csv_email']" fieldlabel="ts('Email to')" fieldid="'csv_email'"
                helpaction='onInfoPress("Email", "id-csv-email", "CRM\/Sqltasks\/Action\/CSVExport")' showHelpIcon=true>
            </text-input>

            <check-box model="ctrl.model['csv_downloadURL']"
                fieldlabel="ts('Send URL to download file instead of attachment')" fieldid="'csv_downloadURL'"
                helpaction='onInfoPress("DownloadURL", "id-csv-downloadURL", "CRM\/Sqltasks\/Action\/CSVExport")'
                showHelpIcon=true>
            </check-box>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['csv_email_template']" fieldlabel="ts('Email Template')"
                fieldid="'csv_email_template'" optionsArray="templateOptions">
            </ordinary-select>

            <text-input model="ctrl.model['csv_upload']" fieldlabel="ts('Upload to')" fieldid="'csv_upload'"
                helpaction='onInfoPress("SFTP Upload", "id-csv-sftp", "CRM\/Sqltasks\/Action\/CSVExport")'
                showHelpIcon=true>
            </text-input>

        </div>
    </div>
</div>
