<div class="crm-accordion-wrapper crm-sqltask-error relativePosition collapsed">
    <div class="crm-accordion-header accordion-header-custom active action-label">
        <label class="input-checkbox">
            <input ng-model="ctrl.model['enabled']" style="cursor: pointer;" ng-true-value="'1'" ng-false-value="'0'"
                type="checkbox" id="error_enabled">
            &nbsp;
            {{ts('Error Handler')}}
        </label>
        <label class="header-delete-btn" ng-click="removeItemFromArray(ctrl.index)">
            <i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}
        </label>
    </div>
    <div class="crm-accordion-body" style="display: none; background-color: #fff">
        <div class="sql-tasks">
            <div id="help" style="margin-left: 5px; margin-right: 5px;">
                {{ts('This action will be triggered if the execution of the task has reported errors, or has failed completely.')}}
            </div>

            <text-input model="ctrl.model['table']" fieldlabel="ts('User Error Table')" fieldid="'error_table'" sizelength="60"
                helpaction='onInfoPress("Error Table", "id-handler-error-table", "CRM\/Sqltasks\/Action\/ResultHandler")'
                showHelpIcon=true>
            </text-input>

            <check-box model="ctrl.model['drop_table']" fieldlabel="ts('Drop Error Table')"
                fieldid="'error_drop_table'"
                helpaction='onInfoPress("Drop Error Table", "id-handler-error-table-drop", "CRM\/Sqltasks\/Action\/ResultHandler")'
                showHelpIcon=true>
            </check-box>

            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['email']"
                fieldlabel="ts('Email to')" fieldid="'error_email'"
                helpaction='onInfoPress("Email", "id-handler-email", "CRM\/Sqltasks\/Action\/ResultHandler")'
                showHelpIcon=true>
            </text-input>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['email_template']" fieldlabel="ts('Email Template')"
                fieldid="'email_template'" optionsArray="templateOptions">
            </ordinary-select>

            <check-box model="ctrl.model['attach_log']" fieldlabel="ts('Attach Log')" fieldid="'error_attach_log'"
                helpaction='onInfoPress("Attach Log", "id-handler-attach-log", "CRM\/Sqltasks\/Action\/ResultHandler")'
                showHelpIcon=true>
            </check-box>
        </div>
    </div>
</div>
