<div class="crm-accordion-wrapper crm-sqltask-post_sql relativePosition collapsed"><label class="input-checkbox"><input
            ng-model="ctrl.model['enabled']" ng-true-value="'1'" ng-false-value="'0'" id="post_sql_enabled"
            type="checkbox">&nbsp;{{ts('Run Cleanup SQL Script')}}</label>
    <div class="crm-accordion-header active collapsed accordion-header-custom"><a
            ng-click="removeItemFromArray(ctrl.index)" class="header-delete-btn" href="javascript:;"><i
                class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}</a></div>
    <div class="crm-accordion-body" style="display: none; background-color: #fff">
        <div class="sql-tasks">
            <text-area isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['post_sql_script']"
                fieldlabel="ts('SQL Script')" fieldid="'post_sql_script'" rowsnumber='8' showHelpIcon=true
                helpaction='onInfoPress("SQL Script", "id-sql-script", "CRM\/Sqltasks\/Action\/RunSQL")'>
            </text-area>
        </div>
    </div>
</div>
