<div class="crm-accordion-wrapper crm-sqltask-sql collapsed relativePosition">
    <div class="crm-accordion-header accordion-header-custom active action-label">
        <label class="input-checkbox">
            <input ng-true-value="'1'" style="cursor: pointer;" ng-false-value="'0'"
                   ng-model="ctrl.model['enabled']" id='sql_enabled' type="checkbox">
            &nbsp;
            {{ts('Run SQL Script')}}
        </label>
        <label class="header-delete-btn" ng-click="removeItemFromArray(ctrl.index)">
            <i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}
        </label>
    </div>
    <div class="crm-accordion-body" style="display: none;">
        <div class="sql-tasks">
            <text-area isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['script']"
                fieldlabel="ts('SQL Script')" fieldid="'sql_script'" rowsnumber='8' inputMaxWidth="'500px'"
                helpaction='onInfoPress("SQL Script", "id-sql-script", "CRM\/Sqltasks\/Action\/RunSQL")'
                showHelpIcon=true>
            </text-area>
        </div>
    </div>
</div>
