<div class="crm-accordion-wrapper crm-sqltask-tag relativePosition collapsed"><label class="input-checkbox"><input
             ng-model="ctrl.model['enabled']" type="checkbox"
            id="tag_enabled">&nbsp;Synchronise Tag</label>
    <div class="crm-accordion-header accordion-header-custom active"><a ng-click="removeItemFromArray(ctrl.index)"
            class="header-delete-btn" href="javascript:;"><i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}</a></div>
    <div class="crm-accordion-body" style="background-color: #fff">
        <div class="sql-tasks">
            <div class="crm-section">
                <div class="label"><label for="tag_contact_table">Contact Table&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span>
                        (<code>contact_id</code>)</label>
                </div>
                <div class="content"><input ng-required="ctrl.model['enabled']"
                        ng-model="ctrl.model['tag_contact_table']" style="font-family: monospace, monospace !important"
                        name="tag_contact_table" type="text" id="tag_contact_table" class="crm-form-text"></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="tag_tag_id">Synchronise Tag&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span></label>
                </div>
                <div class="content">
                    <select name="tag_tag_id" ng-required="ctrl.model['enabled']" id="tag_tag_id"
                        ng-model="ctrl.model['tag_tag_id']" tabindex="-1" title="Synchronise Tag">
                        <option value="">- none -</option>
                        <option value="2">Company [2]</option>
                        <option value="3">Government Entity [3]</option>
                        <option value="4">Major Donor [4]</option>
                        <option value="1">Non-profit [1]</option>
                        <option value="5">Volunteer [5]</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="tag_entity_table">Choose Entity&nbsp;<span class="crm-marker"
                            ng-if="ctrl.model['enabled']"
                            title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span>
                    </label></div>
                <div class="content"><select ng-required="ctrl.model['enabled']"
                        ng-model="ctrl.model['tag_entity_table']" name="tag_entity_table" id="tag_entity_table"
                        class="crm-form-select">
                        <option value="civicrm_contact">Contacts</option>
                        <option value="civicrm_activity">Activities</option>
                        <option value="civicrm_case">Cases</option>
                        <option value="civicrm_file">Attachments</option>
                        <option value="civicrm_membership">Memberships</option>
                        <option value="civicrm_contribution">Contributions</option>
                    </select></div>
                <div class="clear"></div>
            </div>

            <div class="crm-section">
                <div class="label"><label for="tag_use_api">Use API (slow)</label></div>
                <div class="content"><input ng-model="ctrl.model['tag_use_api']" id="tag_use_api" name="tag_use_api"
                        type="checkbox" value="1" class="crm-form-checkbox"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>