<div class="crm-accordion-wrapper crm-sqltask-tag relativePosition collapsed">
    <div class="crm-accordion-header accordion-header-custom active action-label">
        <label class="input-checkbox">
            <input ng-model="ctrl.model['enabled']" style="cursor: pointer;" type="checkbox" ng-true-value="'1'"
                   ng-false-value="'0'" id="tag_enabled">
            &nbsp;
            {{ts('Synchronise Tag')}}
        </label>
        <label class="header-delete-btn" ng-click="removeItemFromArray(ctrl.index)">
            <i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}
        </label>
    </div>
    <div class="crm-accordion-body" style="display: none;">
        <div class="sql-tasks">
            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['contact_table']" sizelength="60"
                fieldlabel="ts('Contact Table (contact_id)')" fieldid="'tag_contact_table'" inputMaxWidth="'500px'">
            </text-input>

            <ordinary-select2 isrequired="getBooleanFromNumber(ctrl.model['enabled'])" model="ctrl.model['tag_id']" inputMaxWidth="'500px'"
                fieldlabel="ts('Synchronise Tag')" fieldid="'tag_tag_id_' + ctrl.index" optionsArray="tagsData"
                isdataloaded="isDataLoadedForOrdinarySelect2('tag_tag_id_' + ctrl.index)">
            </ordinary-select2>

            <ordinary-select isrequired="getBooleanFromNumber(ctrl.model['enabled'])" inputMaxWidth="'300px'"
                model="ctrl.model['entity_table']" fieldlabel="ts('Choose Entity')"
                fieldid="'tag_entity_table' + ctrl.index" optionsArray="entityData">
            </ordinary-select>

            <check-box model="ctrl.model['use_api']" fieldlabel="ts('Use API (slow)')" fieldid="'tag_use_api'">
            </check-box>
        </div>
    </div>
</div>
