<div class="crm-accordion-wrapper crm-sqltask-group relativePosition collapsed">
    <div class="crm-accordion-header accordion-header-custom active action-label">
        <label class="input-checkbox">
            <input ng-model="ctrl.model['enabled']" style="cursor: pointer;" type="checkbox" ng-true-value="'1'"
                   ng-false-value="'0'" id="group_enabled">
            &nbsp;
            {{ts('Synchronise Group')}}
        </label>
        <label class="header-delete-btn" ng-click="removeItemFromArray(ctrl.index)">
            <i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}
        </label>
    </div>
    <div class="crm-accordion-body" style="display: none; background-color: #fff">
        <div class="sql-tasks">
            <text-input isrequired="getBooleanFromNumber(ctrl.model['enabled'])" sizelength="60"
                model="ctrl.model['contact_table']" fieldlabel="ts('Contact Table (contact_id)')"
                fieldid="'group_contact_table'"></text-input>

            <ordinary-select2 isrequired="getBooleanFromNumber(ctrl.model['enabled'])"
                model="ctrl.model['id']" fieldlabel="ts('Synchronise Group')" isdataloaded="isDataLoadedForOrdinarySelect2('group_group_id' + ctrl.index)"
                fieldid="'group_group_id' + ctrl.index" optionsArray="groupData">
            </ordinary-select2>

            <check-box model="ctrl.model['use_api']" fieldlabel="ts('Use API (slow)')" fieldid="'group_use_api'">
            </check-box>
        </div>
    </div>
</div>
