<div class="crm-accordion-wrapper crm-sqltask-group relativePosition collapsed">
    <div class="crm-accordion-header accordion-header-custom active action-label">
        <label class="input-checkbox">
            <input ng-model="model['enabled']" style="cursor: pointer;" type="checkbox" ng-true-value="'1'" ng-false-value="'0'">
            &nbsp;
            {{ts('Synchronise Group')}}
        </label>
        <span ng-if="model['action_title']" class="sql-task-action-title">{{model['action_title']}}</span>
        <label class="header-delete-btn" ng-click="removeItemFromArray(index)">
            <i class="crm-i fa-trash header-delete"></i>
            {{ts('Delete')}}
        </label>
    </div>
    <div class="crm-accordion-body" style="display: none;">
        <div class="sql-tasks">
            <action-additional-info model='model' fieldPrefix="'sync_group'" index='index'></action-additional-info>

            <text-input isrequired="getBooleanFromNumber(model['enabled'])" sizelength="60" inputMaxWidth="'500px'"
                model="model['contact_table']" fieldlabel="ts('Contact Table (contact_id)')"
                fieldid="'group_contact_table' + index">
            </text-input>

            <ordinary-select2 isrequired="getBooleanFromNumber(model['enabled'])"
                model="model['group_id']" fieldlabel="ts('Synchronise Group')" isdataloaded="isDataLoaded('group_group_id' + index)"
                fieldid="'group_group_id' + index" optionsArray="groupData" inputMaxWidth="'300px'">
            </ordinary-select2>

            <check-box model="model['use_api']" fieldlabel="ts('Use API (slow)')" fieldid="'group_use_api' + index">
            </check-box>
        </div>
    </div>
</div>
