<div class="sql-task-task-run-configuration">
    <div class="crm-form-block">
        <div class="sql-task-task-run-configuration-block">
            <h1 crm-page-title>{{ts('Run this task?')}}</h1>
            <div class="help sql-task-no-margin">
                <span>{{ts("Are you sure you want to run this task?")}}</span>
            </div>

            <div ng-show="isRequiredInputValue">
                <div class="sql-task-task-run-configuration-input">
                    <label>
                        <span>{{ts('Input value:')}}</span>
                        <input type="text" ng-model="inputValue">
                    </label>
                </div>

                <div class="help sql-task-no-margin">
                    <span>{{ts('This value will be passed to the @input variable in task.')}}</span>
                </div>
            </div>

            <div ng-show="errors.length >= 1" class="sql-task-task-run-configuration-errors crm-error">
                <div ng-repeat="errorMessage in errors">{{errorMessage}}</div>
            </div>
        </div>

        <div class="crm-submit-buttons">
            <button class="button sql-task-task-run-configuration-button" ng-click='confirmRunningTask()' title="{{ts('Run task')}}">
                {{ts('Run task')}}
            </button>

            <a class="button sql-task-task-run-configuration-button" ng-href="#/sqltasks/configure/{{taskId}}" title="{{ts('Configure task')}}">
                {{ts('Configure task')}}
            </a>

            <a class="button sql-task-task-run-configuration-button" ng-href="#/sqltasks/manage" title="{{ts('Back to Manager')}}">
                {{ts('Back to Manager')}}
            </a>
        </div>
    </div>
</div>
