<div class="crm-form-block">
  <div class="sql-task__form-wrap">
    <h1 crm-page-title>{{ts('Delete Task') + ' "' + taskData.name + '"'}}</h1>
    <div>

      <div class="sql-task-delete-page-content">
        <p ng-if="taskData">
          {{ts('You are about to delete plugin')}} "{{taskData.name}}" [{{taskData.id}}]. {{ts('You should consider simply
          disabling it, since all data
          will be lost.')}}
        </p>
        <p ng-if="!taskData">
          {{ts("Task doesn't exist or not created.")}}
        </p>
      </div>

      <div class="sql-task__button-wrap">
        <a class="sql-task__button sql-task__search-button crm-form-submit default crm-button crm-hover-button"
           ng-click="onTaskDelete()"
           href="javascript:;" title="{{ts('Delete')}}">
          <span class="crm-i fa-trash"></span>
          <span>{{ts('Delete')}}</span>
        </a>

        <a class="sql-task__button sql-task__search-button crm-form-submit default crm-button crm-hover-button"
           ng-click="onBackPress()"
           href="javascript:;" title="{{ts('Back')}}">
          <span class="crm-i fa-list"></span>
          <span>{{ts('Back')}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
