<div>
    <div>
        <ul>
            <li ng-repeat="log in resultLogs track by $index">{{log}}</li>
        </ul>
    </div>
    <br />
    <a class="button" ng-href="#/sqltasks/manage" title="{{ts('Back to Manager')}}">
        {{ts('Back to Manager')}}
    </a>
    <a class="button" href="javascript:;" ng-click='runTask()' title="{{ts('Run again')}}">
        {{ts('Run again')}}
    </a>
    <a class="button" ng-href="#/sqltasks/configure/{{taskId}}" title="{{ts('Configure task')}}">
        {{ts('Configure task')}}
    </a>
</div>
