<div class="sql-task-action-template-form-wrapper" style="display: none;">
    <div class="crm-section">
        <div class="label">
            <label for="action_tempalate_name">{{ts('Template Name')}}</label>
            <span class="crm-marker ng-scope" title="">*</span>
        </div>
        <div class="content">
            <input ng-model="actionTemplate.name"
                   id="action_tempalate_name" name="action_tempalate_name"
                   type="text" class="huge crm-form-text" maxlength="64">
        </div>
        <div class="clear"></div>
    </div>
    <div class="crm-section">
        <div class="label">
          <br />&nbsp;
        </div>
        <div class="content">
            <a ng-disabled="!actionTemplate.id" ng-click="updateActionTemplate(actionTemplate)"
               href="javascript:;" class="button">
                <i class="crm-i fa-save"></i>
                {{ts('Update')}}
            </a>
            <a ng-click="createActionTemplate(actionTemplate)" href="javascript:;" class="button">
                <i class="crm-i fa-clone"></i>
                {{ts('Save as New Template')}}
            </a>
            <a ng-disabled="!actionTemplate.id" ng-click="deleteActionTemplate(actionTemplate)"
               href="javascript:;" class="button">
                <i class="crm-i fa-trash-o"></i>
                {{ts('Delete')}}
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
