<div class="sql-task-action-addition-info-wrap">

  <div class="sql-task-action-addition-info-panel">
    <span class="sql-task-action-addition-info-panel-btn" ng-class="{'open-edit-form' : isShowEditForm}" ng-click="toggleShowingEditForm($event)">
      <i ng-if="!isShowEditForm"class="crm-i fa-pencil"></i>
      <i ng-if="isShowEditForm"class="crm-i fa-close"></i>
    </span>
  </div>

  <div class="sql-task-action-addition-info-edit-form-wrap">
    <text-input model="ctrl.model['action_title']" fieldlabel="ts('Action title')"
                fieldid="ctrl.fieldPrefix + '_action_title_' + ctrl.index"  showHelpIcon=true inputMaxWidth="'300px'"
                helpaction='onInfoPress("Title of action", "id-action-title", "CRM\/Sqltasks\/Action\/ActionAdditionalInfo")'>
    </text-input>

    <text-area model="ctrl.model['action_description']" fieldlabel="ts('Action description')"
               fieldid="ctrl.fieldPrefix + '_action_description_' + ctrl.index" rowsnumber='10' inputMaxWidth="'500px'"
               helpaction='onInfoPress("Description of action", "id-action-description", "CRM\/Sqltasks\/Action\/ActionAdditionalInfo")'
               showHelpIcon=true>
    </text-area>
  </div>

  <div ng-if="ctrl.model['action_description']">
    <div class="help">
      <pre>{{ctrl.model['action_description']}}</pre>
    </div>
  </div>

</div>
