<div class="crm-section">
    <div class="label">
        <label for="{{fieldId}}">
            <span>{{fieldLabel}}</span>
            &nbsp;
            <span class="crm-marker" ng-if="isRequired"
                  title="{{ts('This field is required.', {'domain' : 'de.systopia.sqltasks'})}}">*</span>
        </label>
        &nbsp;
        <a ng-click="helpAction()" ng-if="showHelpIcon" href="javascript:;" title="Help" class="helpicon"></a>
    </div>
    <div class="content">
        <textarea rows="{{rowsNumber}}" cols="{{columnsNumber}}" ng-required="isRequired"
            style="font-family: monospace !important; min-width: 240px" name="{{fieldId}}" id="{{fieldId}}"
            class="crm-form-textarea" ng-model="componentModel">
        </textarea>
    </div>
    <div class="clear"></div>
</div>
